

.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.mainContent {
  flex:1 ;
  margin-bottom:clamp(24px,3.5vw,58px);
}

.newsletterOverlap {
  margin-bottom: -48px;
  padding-bottom: 80px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
