.container {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 24px clamp(16px, 13.03px + 0.76vw, 24px);
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 9.14px + 3.81vw, 64px);
  width: 100%;
}
.upContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  font-weight: var(--weight-regular);
}

.list {
  padding-left: 20px;
}
// TODO: It does't depend on globar variables.
.list li::marker {
  color: rgb(49 49 49 / 80%);
}
