.heading {
  font-family: var(--font-heading);
}

.defaultColor {
  color: #232321;
}

.lightColor {
  color: #ffffff;
}

.footerColor {
  color: #FFA52F;
}

.whiteColor {
  color: #ffffff;
}

$fontSizes: (
  "fs12": 12px,
  "fs14": 14px,
  "fs16": 16px,
  "fs20": 20px,
  "fs24": 24px,
  "fs32": 32px,
  "fs36": 36px,
  "fs48": 48px,
);

@each $mobile-name, $mobile-size in $fontSizes {
  @each $desktop-name, $desktop-size in $fontSizes {
    .#{$mobile-name}-#{$desktop-name} {
      font-size: clamp(#{$mobile-size}, 4vw, #{$desktop-size});
    }
  }
}

.uppercase{
  text-transform: uppercase;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}