DATABASE_URL="postgresql://sample_user:sample_password@localhost:5432/kicks_sample_db?schema=public"

JWT_SECRET="sample-jwt-secret"
JWT_REFRESH_SECRET="sample-refresh-secret"

PORT=3337


NODE_ENV=development
