.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 20px;
  }
}

.formSection {
  @media (min-width: 768px) {
    flex: 4;
  }
}

.promoSection {
  @media (min-width: 768px) {
    flex: 6;
  }
}
